<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home</h1>
    <h3>Welcome <%=user%></h3>

    <div>
        <%products.forEach(el=>{%>
            <div class="addCart">
                <h2 class="nameProduct"><%=el.name%></h2>
                <img class="imgProduct" src=<%=el.photo%> alt=<%=el.name%>>
                <p class="descriptionProduct"><%=el.description%></p>
                <p class="codeProduct"><%=el.code%></p>
                <p>Price: $<span class="priceProduct"><%=el.price%></span></p>
                <p>Stock: <span class="stockProduct"><%=el.stock%></span></p>
                <button class="addCart">Add Cart</button>
            </div>
        <%})%>
    </div>

    <button onclick="location.href='/api/user/logout'">Logout</button>
    <button id="bottonCart"> Carrito </button>
    <button onclick="location.href='/api/user/information'">information</button>
    <button onclick="location.href='/api/user/allCartsHist'">Historical carts</button>

    <script src="index.js"></script>
    

</body>

</html>