<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include("./partials/linkcss.ejs")%>
    <title>Information From User</title>
</head>

<body>
    <%-include("./partials/nav.ejs",{section:"Information From User"})%>
    
    <div class="infoContainer">
        <img src=<%= avatar %> alt="imagen">
        <p class=" d-block bg-light"><%=firstName%> <%=lastName%></p>
        <p class="bg-light"><b>Age:</b>  <%=age %></p>
        <p class="bg-light"><b>Phone:</b> <%=phone %></p>
        <p class="bg-light"><b>Email:</b> <%=email %></p>
        <p class="bg-light"><b>Adress:</b> <%=adress %></p>
        
        
        <button class="btn btn-primary" onclick="location.href='/'">Home</button>
    </div>
    
    
    
    <%-include("./partials/linkjs.ejs")%>
    
</body>

</html>